//font family
$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

//font weight
$font-weight-regular: 400;
$font-weight-bold: 700;

//font size
$font-size-xx-large:70px; /*4.375rem;*/
$font-size-x-large: 30px; /*4.875rem;*/
$font-size-large: 18px; /*1.125rem;*/
$font-size-medium: 16px; /*1rem;*/
$font-size-small: 12px; /*0.75rem;*/