body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*4.375rem;*/
/*4.875rem;*/
/*1.125rem;*/
/*1rem;*/
/*0.75rem;*/
nav {
  width: 100%;
}

.hamburguesa {
  margin-left: 340px;
}

.logo__t {
  padding: 20px;
}

/* Row */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

/*COLUMNAS smartphone*/
.cabecera {
  width: 100%;
  position: relative;
  top: -300px;
}

.hero__trek {
  top: 350px;
}

.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .cabecera {
    display: block;
    width: 60%;
    position: absolute;
    left: 30px;
    top: 50px;
  }

  .hero__trek {
    top: 300px;
  }

  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .cabecera {
    display: block;
    width: 40%;
    position: absolute;
    left: 30px;
    top: 50px;
  }

  .hero__trek {
    top: 30px;
  }

  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .cabecera {
    display: block;
    width: 30%;
    position: absolute;
    left: 50px;
    top: 100px;
  }

  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.contenedor {
  text-align: left;
  width: 100%;
}

.hero__trek {
  width: 100%;
  position: relative;
}

.titulo__header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-left: 20px;
}

.cuerpo__header {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: -10px;
  margin-left: 20px;
}

footer {
  background-color: #221d23;
  width: 100%;
  height: 50px;
}

.bajada {
  display: flex;
  color: #fff;
}

.marca__reg {
  color: #fff;
}

.texto__footer {
  margin-right: 20px;
  margin-left: 20px;
}

.texto__footer2 {
  margin-right: 1000px;
}

.titulo__aside {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.contenedor__aside {
  width: 100%;
  align-content: center;
}

.container__aside {
  width: 100%;
  align-content: center;
  margin-bottom: 50px;
}

.caracterizticas {
  text-align: left;
  margin-left: 50px;
}

.panel {
  text-align: center;
  margin-right: 50px;
  margin-bottom: 30px;
}

.subtitulo__aside {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-top: 0px;
}

.contenido__aside {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: -20px;
}

.animation-element {
  opacity: 0;
  transition: all 500ms linear;
  transform: translate3d(0px, 10px, 0px);
  transition-delay: 0.5s;
}

.animation-element.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.black__fondo {
  background-image: url(../img/bg-price.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.titulo__precios {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding-top: 250px;
}

.container-section {
  width: 100%;
}

.contenedor-carta1 {
  background-color: #fff;
  padding: 30px;
  margin: 40px;
  display: flexbox;
  height: 430px;
}

.contenedor-carta2 {
  background-color: #fff;
  padding: 30px;
  margin: 40px;
  display: flexbox;
  height: 430px;
}

.carta__titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #221d23;
  margin-top: -5px;
}

.carta__sub {
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: 700;
  color: #221d23;
  margin-top: -25px;
  border-bottom: 1px solid #726f73;
}

.carta-contenido {
  font-family: "Raleway", sans-serif;
  padding-bottom: 147px;
  font-size: 17px;
  font-weight: 400;
  color: #221d23;
  margin-top: -25px;
  border-bottom: 1px solid #726f73;
  line-height: 35px;
}

.carta-contenido2 {
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
  color: #221d23;
  margin-top: -25px;
  border-bottom: 1px solid #726f73;
  line-height: 35px;
}

button {
  background-color: #2ab7ca;
  color: #fff;
  width: 100%;
  height: 40px;
  border-color: #2ab7ca;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
