footer{
    background-color: $raising-black;
    width: 100%;
    height: auto;
    display: grid;
    font-family: $raleway;
   
}

.bajada{
    display:flex;
    justify-content: center;
    color: $white;
}

.marca__reg{
    display:flex;
    justify-content: center;
    color: $white;
   

}

.texto__footer{
    padding-right: 15px;
}
