.contenedor{
    text-align: left;
    width: 100%;

}

.hero__trek{
    width: 100%;
    position: relative;
}


.titulo__header{
    font-family: $raleway;
    font-weight: 700;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.cuerpo__header{
    font-family: $raleway;
    font-weight: 400;
    font-size: 25px;
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 20px;
}