.black__fondo {
   background-image: url(../img/bg-price.svg);
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   
  
}

.titulo__precios{
    color: $white;
    font-family: $raleway;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-top: 250px;

}
.container-section{
    width: 100%;
}
.contenedor-carta1{
    background-color: $white;
    padding: 30px;
    margin: 40px;
    display: flexbox;
    
}

.contenedor-carta2{
    background-color: $white;
    padding: 30px;
    margin: 40px;
    display: flexbox;
    
}

.carta__titulo{
    font-family: $open-sans;
    font-weight: 400;
    font-size: 20px;
    color: $raising-black;
    margin-top: -5px;
}

.carta__sub{
    font-family: $raleway;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    color: $raising-black;
    margin-top: -25px;
    border-bottom: 1px solid $nickel;
}

.carta-contenido{
    font-family: $raleway;
    padding-bottom: 147px;
    font-size: 17px;
    font-weight: 400;
    color: $raising-black;
    margin-top: -25px;
    border-bottom: 1px solid $nickel;
    line-height: 35px;
}

.carta-contenido2{
    font-family: $raleway;
    padding-bottom: 45px;
    font-size: 17px;
    font-weight: 400;
    color: $raising-black;
    margin-top: -25px;
    border-bottom: 1px solid $nickel;
    line-height: 27px;
}

button{
    background-color: $ball-blue;
    color: $white;
    width: 100%;
    height: 40px;
    border-color: $ball-blue;
    font-family: $open-sans;
    font-size: 17px;
    font-weight: 400;
}